/*font-family: 'Crimson Text', serif;*/

html {
    font-size: 10px;
    font-family: 'Crimson Text', serif;
    background-color: #821200;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: wheat;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #821200;
    text-shadow: 3px 3px 1px black;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    height: auto;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

ul li {
    list-style-position: inside;
    margin-left: 1em;
    text-align: left;
}

button {
    margin-top: 10px;
}